# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary & Build files
node_modules/
dist/
tmp/
*.log
.gradle/
build/
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/
secrets/
build_wasm/
test_compile_core.py
